<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/header.ejs') %>
    <h1>Users</h1>
    <ul>
      <% for (const user of users) { %>
        <li><%= user.name %></li>
      <% } %>
    </ul>
  </body>
</html>